<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bleeding</title>
    <!-- <script type="js/bloodScript.js"/> -->
</head>
<body>
<br>
<div id="blood">
    Are you bleeding? If so, how much are you bleeding/ have you already bled? <br>
    <!-- Need pictures here -->
    <input type="button" id="volume" name="amountOfBlood" value="Lots (over a cup)" onclick="location.href='emergency.html'">
    <input type="button" id="volume" name="amountOfBlood" value="Some (blood is running out of wound)"
    onclick="location.href='laceration.html'">
    <input type="button" id="volume" name="amountOfBlood" value="A little (oozing)" onclick="location.href='breathing.html'">
    <input type="button" id="volume" name="amountOfBlood" value="I'm not bleeding" onclick="location.href='breathing.html'">
</div>
</body>
</html>