<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bleeding</title>
</head>
<body>
<br>
<div id="blood">
    How much are you bleeding/ have you already bled? <br>
    <!-- Need pictures here -->
    <input type="button" id="volume" name="amountOfBlood" value="Lots">
    <input type="button" id="volume" name="amountOfBlood" value="Some">
    <input type="button" id="volume" name="amountOfBlood" value="A little">
    <input type="button" id="volume" name="amountOfBlood" value="I'm not bleeding">
</div>
</body>
</html>