<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breathing</title>
</head>
<body>
Are you having any difficulty breathing?
<br>
<br>
<div id="breathing">
     <input type="button" id="difficulty" name="Howdifficult" value="No difficulty" onclick="location.href='symptoms.html'">
     <input type="button" id="difficulty" name="Howdifficult" value="Some difficulty" onclick="location.href='breathingFollowUp.html'">
     <input type="button" id="difficulty" name="Howdifficult" value="A lot of difficulty" onclick="location.href='emergency.html'">
</div>

</body>
</html>