<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Trauma</title>
</head>
<body>
Which of the following, if any, have you been involved with in the last 3 weeks?
<br>
<br>
<div id="trauma">
   <input type="checkbox" name="Fall" value="Fall"> I've fallen down from a standing position<br>
    <input type="checkbox" name="Head" value="Hhead"> I've hit my head or been hit on the head<br>
    <input type="checkbox" name="MVA" value="MVA"> I've been in a car or vehicle accident (Bike, Boat, Motorcycle)<br>
    <input type="checkbox" name="Sports" value="SportsInjury"> I've played sports and been hurt while playing<br>
</div>

Which of the following injuries, if any, have you been told by a doctor that you have right now?
<br>
<br>
<div id="bonesandmuscles">
    <input type="checkbox" name="Bone" value="BrokenBone"> A broken bone<br>
    <input type="checkbox" name="ligament" value="TornLigament"> A torn ligament<br>
    <input type="checkbox" name="sprainedmuscle" value="SprainedMuscle"> A sprained or torn muscle<br>
</div>
</body>
</html>