<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SymptoKey is here to help!</title>
</head>
<body>
Welcome to SymptoKey -- if at any time you are unable to continue the form because of how you're feeling, or begin to feel much worse, call 911 immediately.
<br>
<br>
<div  method="post" id="nameform">
  Age:<br>
    <input type="number" id="age" name="How old are you?"><br>
  What is your sex assigned at birth?:<br>
    <input type="radio" id="male" name="gender" value="male"> Male<br> <input type="radio" name="gender" value="female"> Female<br>
  Height(feet):<br>
    <input type="number" id="feet" name="How tall are you?"><br>
    Height (inches):<br>
    <input type="number" id="inches" name="How tall are you?"><br>
  Weight(lbs):<br>
    <input type="number" id="weight" name="How much do you weigh?"><br>
</div>

<button type="submit" value="Save and Continue" onclick="location.href='bleeding.html'">Save and Continue</button>
<br>

</body>
</html>