<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laceration</title>
</head>
<body>
Ok - so you're bleeding a little bit - let's try and stop that. If you aren't already, begin applying pressure to the spot where the blood is coming from.
Do this with a clean cloth, paper towel, or piece of gauze. If the blood fully soaks up the cloth, apply a new one, and press harder.
<div id="Lac" >
    Did the bleeding stop?
    <br>
    <input type="button" name="bleeding control" value="Yes"> Yes - it's not bleeding anymore.<br>
    <input type="button" name="bleeding modcontrol" value="Mostly"> The bleeding is a lot slower now<br>
    <input type="button" name="bleeding uncontrol" value="No"> No, it's the same or worse than before<br>
</div>
</body>
</html>