<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset method="post" id="whatsWrong">
    <legend>What's wrong?</legend>

    <div>
        <input type="checkbox" id="dizzy" name="feature" value="I'm feeling dizzy" />
        <label for="dizzy">I'm feeling dizzy</label>
    </div>

    <div>

        <input type="checkbox" id="pain" name="feature"
               value="I'm in pain" />
        <label for="pain">I'm in pain</label>
    </div>

    <div>
        <input type="checkbox" id="hurtAccident" name="feature"
               value="I hurt myself on accident" />
        <label for="hurtAccident">I hurt myself on accident</label>
    </div>

    <div>
        <input type="checkbox" id="hurtIntentional" name="feature"
               value="I hurt myself on purpose" />
        <label for="hurtIntentional">I hurt myself on purpose</label>
    </div>

    <div>
        <input type="checkbox" id="other" name="feature"
               value="Something Else" />
        <label for="Other">Something Else</label>
    </div>

</fieldset>

<button type="submit" value="Save and Continue" onclick="location.href='fall.html'">Save and Continue</button>

</body>
</html>